// Place all the styles related to the program controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.label_setting {
  width: 50% !important
}

.program_field {
  width: 50% !important
}

.program_text_field {
  border: 1px solid #ddd !important;
}

.progam_select_field {
  border: 1px solid #ddd !important;
  background-color: #eee !important;
}
